body {
    font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.task-list li span {
    margin-right: 8px;
}

.task-list li span:last-child {
    margin-right: 0;
}

.task-list li button {
    margin-left: 8px;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode td {
    background-color: #444;
    color: #fff;
    border-color: #666;
}

div.glass {
    background-color: #ffffff29;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

hr.line {
    border: 3px solid white;
    border-radius: 5px;
}